.contact-wrapper {
  padding-top: 200px;
  background-color: #f9fbfc;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.header h1{
   text-align: center;
  font-size: 42px;
  color: #003366;
  margin-bottom: 10px;

}
.header p{
  width: 90%;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  color: #554141;
  
  padding: 10px 20px;
}
.header p span{
  width: 150px;
  color: rgb(112, 54, 54);
}
.contact-header {
 width: 100%;
  margin-bottom: 50px;
}

.contact-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #003366;
  margin-bottom: 10px;
}
.contact-header-info{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
}

.contact-header-info p {
  width: 40%;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  padding: 15px;
}
.contact-header-info img{
  width: 750px;
}

.contact-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60%;
  max-width: 750px;
  background: #f0f4f8;
  min-height: 350px;;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.contact-info p{
   color: #31395e;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.contact-info p:hover{
 color: #003366;
}
.contact-info p img{
  width: 35px;
  
}

.contact-info h2 {
  color: #0b5394;
  margin-bottom: 15px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
}

.contact-map {
  width: 40%;
  min-height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.contact-map iframe {
  width: 100%;
   min-height: 350px;;
  border: 0;
}

@media (min-width: 350px) and (max-width: 767px){
 
  .contact-wrapper{
    padding: 150px 10px;
  }
  .header{
    margin-bottom: 10px;
    width: 100%;
  }
  .header h1{
    font-size: 30px;
  }
  .header p{
    padding: 0px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .contact-header h1{
    font-size: 25px;
  }
  .contact-header p{
    font-size: 15px;
  }
  .contact-main{
    flex-direction: column;
  }
  .contact-info{
    width: 100%;
  }
  .contact-map{
    width: 100%;
  }
}