/* General Styles */
.home {
  font-family: Arial, sans-serif;
  width: 100%;
  overflow: hidden;
  padding: 7rem 0rem;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #d5d8d8;
 
}
.nTech-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 210px;
}
.nTech-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);

}



.home-section {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}

/* Top Section Animation */
.left-home-section,
.right-home-section {
  opacity: 0;
  transition: all 0.8s ease-out;
}

/* Slide Left */
.left-home-section {
  transform: translateX(-100px);
}

.left-home-section.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Slide Right */
.right-home-section {
  transform: translateX(100px);
}

.right-home-section.visible {
  opacity: 1;
  transform: translateX(0);
}


.left-home-section {
  flex: 1;
  width: 60%;
  min-width: 280px;
  max-width: 600px;
  padding-top: 100px;
}

.left-home-section h1 {
  font-size: 36px;
  color: #0a2a53;
}

.left-home-section span {
  font-size: 22px;
  font-weight: bold;
  color: #007acc;
}

.left-home-section p {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.left-home-section marquee {
  margin: 15px 0;
  font-size: 15px;
  color: #555;
}

.left-home-section a {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background-color: #0a2a53;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.left-home-section a:hover {
  background-color: #004080;
}

/* Right Image */
.right-home-section {
  flex: 1;
  width: 50%;
  
}

.right-home-section img {
  width: 90%;
  height: 100%;
  text-align: center;
}

/* Bottom Section */
.home-bottom-section {
  text-align: center;
  background-color: #ffffff;
  padding: 50px 2rem;
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease-out;
}
.home-bottom-section.visible {
  opacity: 1;
  transform: translateY(0);
}
.home-bottom-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #2f343b;
}

.contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 0 10px;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
   opacity: 0;
  transform: translateX(100px);
  transition: all 0.7s ease-out;
}
.content:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05); /* zoom in slightly */
  cursor: pointer;
}
.content.visible {
  opacity: 1;
  transform: translateX(0);
}

.content h3 {
  color: #292f33;
  margin-bottom: 10px;
}

.content p {
  font-size: 15px;
  color: #444;
}

/* Responsive Styles */
@media (min-width:480px) and (max-width: 768px) {
  .home {
    width: 100%;
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-section {
    text-align: center;
    gap: 5px;
    padding: 1.5rem;
  }
  .home-section {
    flex-direction: column;
    text-align: center;
  }

  .left-home-section,
  .right-home-section {
    width: 50%;
    text-align: left;
  }
  .right-home-section {
    padding-bottom: 1rem;
  }
  .right-home-section img {
    width: 100%;
    height: 500px;
    padding: 0;
    max-width: 100%;
  }
  .left-home-section h1 {
    font-size: 28px;
  }

  .home-bottom-section h2 {
    font-size: 26px;
  }

  .content p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .home {
    width: 100%;
    padding: 10rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-section {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
  .left-home-section {
    width: 100%;
    padding: 0px;
  }
  .left-home-section h1 {
    font-size: 24px;
  }
  .right-home-section {
    width: 100%;
    padding-bottom: 0px;
  }
  .right-home-section img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .home-bottom-section h2 {
    font-size: 22px;
  }

  .left-home-section a {
    width: 100%;
    padding: 8px 14px;
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
    .home {
    padding: 10rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-section {
    gap: 5px;
  }
  .left-home-section,
  .right-home-section {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
  }
  .left-home-section{
    padding-top: 80px;
  }
  .left-home-section a {
    width: 100%;
    padding: 8px 14px;
    font-size: 14px;
  }
  .right-home-section{
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-home-section img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}