.careers-container {
  padding: 200px 20px;
  background-color: #f5f9fc;
  font-family: "Segoe UI", sans-serif;
  font-family: 'Segoe UI', sans-serif;
}

.careers-header {
  margin-bottom: 40px;
}

.careers-header h1 {
  text-align: center;
  font-size: 36px;
  color: #003366;
}

.careers-header p {
  text-align: center;
  font-size: 18px;
  color: #444;
  margin: 10px auto;
}

.careers-section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 25px;
}

.careers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  flex-wrap: wrap;
  
}

.careers-section h2 {
  color: #003366;
  font-size: 24px;
  margin-bottom: 20px;
}

.career-card {
  position: relative;/* important */
  background-color: white;
  height: 320px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 25px;
  transition: 0.3s ease-in-out;
  width: 375px;
}

.career-card hr {
  position: absolute;
  display: block;
  /* Important */
  border: none;
  border-top: 2px solid #000000;
  margin-top: 15px;
  opacity: 0;
  /* Hidden */
  transition: opacity 0.3s ease-in-out;
  bottom: 0;
  /* fix at bottom */
  left: 0;
  width: 100%;
  border: none;
  border-top: 5px solid #003366;
  border-radius: 35px;
  margin: 0;
  opacity: 0;
  /* hidden by default */
  transition: opacity 0.3s ease-in-out;
}

.career-card:hover hr {
  opacity: 1;
}

.career-card:hover {
  transform: translateY(-4px);
  background: transparent;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.career-card h3 {
  margin-bottom: 10px;
  color: #222;
}

.career-card p {
  margin: 5px 0;
  color: #444;
}

.career-card a {
  
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.apply-btn {
  display: inline-block;
  margin-top: 35px;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

.apply-btn:hover {
  background-color: #00509e;
}

@media (min-width: 350px) and (max-width: 767px) {
  .careers-container{
    width: 100%;
    padding: 150px 10px;

  }
  .careers-header{
    margin-bottom: 0px;
  }
  .careers-section{
    padding: 0px 0px;
    margin-top: 20px;
  }
  .careers{
    padding: 0px;
     flex-wrap: wrap;
     justify-content: center;
   
  }
  .career-card{
    width: 100%;
    max-width: 375px;
    padding: 15px;
    
  }
  .career-card a{
    width: 100%;
    text-align: center;
    border-radius: 0;
  }

}
@media (min-width: 768px) and (max-width: 1023px) {
   .careers-container{
    padding: 150px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .careers-header{
    margin-bottom: 0px;
  }
  .careers-section {
    margin-bottom: 20px;
    padding: 10px 0px;
    
  }
  .careers{
    
    gap: 10px;
   
  }
  .career-card{
    width: 100%;
    max-width: 380px;
  }
   .career-card a{
    width: 100%;
    text-align: center;
    border-radius: 0;
  }
}
@media (min-width: 1024px){
  .careers-container{
    padding: 190px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .careers{
    width: 100%;
    justify-content: start;
    gap: 20px;
   
  }
  .career-card{
    width: 100%;
    max-width: 425px;
  }
}